.list {
  padding: 0;
}

.title {
  margin-bottom: 25px;
}

.item {
  display: block;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.link {
  color: #888888;
}

.link:hover,
:focus {
  color: #000000;
}
